<%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<h1>Posts</h1>

<%= form_for @post, url: posts_path do |f| %>
  <%= f.hidden_field :image, value: @post.cached_image_data %>
  <%= f.file_field :image %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <div>
      <p><%= "#{post.user.full_name}" %> posted on <%= post.created_at.strftime('%A, %B %d, %Y') %> at <%= post.created_at.strftime('%I:%M:%S %p') %>:</p>
      <%= image_tag post.image_url unless post.image_data.nil? %>
      <p><%= post.body %></p>
      <%= link_to('Delete post', post_path(post), method: :delete, data: {confirm: "Are you sure?"}) if post.user == current_user %>
    </div>
  <% end %>
<% end %>

