<%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<%= link_to('Notifications', notifications_path) %>

<div>
  <h1>Create post</h1>

  <%= form_tag users_path, method: :get do |f| %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>

  <%= form_for @post, url: posts_path do |f| %>
    <%= f.hidden_field :image, value: @post.cached_image_data %>
    <%= f.file_field :image %>
    <%= f.text_area :body %>
    <%= f.submit %>
  <% end %>

  <% @posts.each do |post| %>
    <div class="post">
      <div>
        <%= link_to "#{post.user.full_name}", user_path(post.user) %>
        <%= post.date_created_at %> <%= post.time_created_at %>
      </div>

      <%= link_to post_path(post) do %>
        <% unless post.image_data.nil? %>
          <div>
            <%= image_tag post.image_url %>
          </div>
        <% end %>
        <div>
          <p><%= post.body %></p>
        </div>
      <% end %>

      <% if post.user == current_user %>
        <%= link_to(
              'Delete post',
              post_path(post),
              method: :delete,
              data: { confirm: "Are you sure?" }
            )
        %>
      <% else %>
        <div id="like_or_unlike_<%= post.id %>">
          <% if post.likes.where(user: current_user).present? %>
            <%= render 'posts/unlike', post: post %>
          <% else %>
            <%= render 'posts/like', post: post %>
          <% end %>
        </div>
      <% end %>

      <div>
        <% if post.comments.any? %>
          <p>This post has comments</p>
        <% end %>
        <%= form_for @comment, url: post_comments_path(post) do |f| %>
          <%= f.hidden_field :image, value: @post.cached_image_data %>
          <%= f.file_field :image %>
          <%= f.text_area :body %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
