<div>
  <h2><%= "#{@post.user.full_name}" %> posted on <%= @post.created_at.strftime('%A, %B %d, %Y') %> at <%= @post.created_at.strftime('%I:%M:%S %p') %>:</h2>
  <%= image_tag @post.image_url unless @post.image_data.nil? %>
  <p><%= @post.body %></p>
  <% if @post.user == current_user %>
    <%= link_to('Delete post', post_path(@post), method: :delete, data: {confirm: "Are you sure?"}) %>
  <% else %>
    <% if @post.likes.where(user: current_user).present? %>
      <%= link_to('Unlike post', post_like_path(@post), method: :delete) %>
    <% else %>
      <%= link_to('Like post', post_likes_path(@post), method: :post) %>
    <% end %>
  <% end %>
</div>

<%= console  %></p>
<%= link_to 'Back', root_path %>
